html {
  font-family: Helvetica;
  color: #4a4a4a;
}

p {
  color: gray;
}

/* HEADER */
header {
  height: 64px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
}

header div {
  display: inline-flex;
  align-items: center;
}

.logo {
  padding-left: 24px;
}

header h1 {
  font-weight: 600;
}

.academy {
  color: #d8d8d8;
}

header a {
  text-decoration: none;
  color: black;
  padding: 8px;
}

.nav-small {
  display: none;
}

@media only screen and (max-width: 470px) {
  .nav, header h1 {
    display: none;
  }

  .logo {
    width: 1.5rem;
  }

  .nav-small {
    display: inline-flex;
  }

  .nav-small a, .logo {
    padding-right: 6.35rem;
    margin: auto;
  }

  .nav-small i {
    transition: color 1s ease-in .200ms;
  }

  .nav-small i:hover{
    color: lightgray;
  }

  .nav-small i:active {
    color: red;
  }

}

/* TOP BANNER */

.top-banner {
  background-color: #d8d8d8;
  padding-top: 64px;
  display: inline-flex;
  color: #4a4a4a;
}

.top-banner img {
  width: 60%;
  height: 70%;
  padding: 32px 40px 32px 24px;
}

.gray {
  display: none;
}

.top-right {

  height: 50%;
  padding-top: 13rem;
  line-height: 1.4;
  margin-top: -4rem;
}

.top-banner h1 {
  font-size: 2.6rem;
  font-weight: bold;
}

 .top-banner p {
   margin-top: 2rem;
   font-weight: 500;
 }

 .top-banner .btn {
  width: 20rem;
  color: #d8d8d8;
  background-color: #4a4a4a;
  padding: 8px;
  text-align: center;
}

.btn:hover {
  background-color: #d8d8d8;
  color: #4a4a4a;
}


@media only screen and (max-width: 470px) {

  .top-banner {
    display: block;
  }

  .top-banner img {
    display: none;
  }

  .gray {
    display: block;
    background-color: gray;
    width: 100%;
    min-height: 180px;
  }

  .top-banner h1, {
    padding-top: 0;
    width: 100%;

  }

  .top-right {
    padding-left: 32px;
    width: 90%;
    height: 300px;
    margin-top: -11rem;
  }

  .top-right p {
    color: #4a4a4a;
  }

  .top-right .btn {
    width: 95%;
    margin-top: 24px;
    margin-bottom: 32px;
    margin-left: -.4rem;
  }

}

/* BOTTOM BANNER LEFT */

.bottom-banner {
display: inline-flex;
justify-content: flex-start;
}

.bottom-banner-left {
 min-width: 60%;
}

.bottom-banner-left img {
  width: 100%;
  padding: 32px 24px 32px 24px;

}

.bottom-banner-left h2 {
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 24px;
  padding-bottom: 24px;
}

.bottom-banner-left p {
  padding-left: 24px;
  padding-bottom: 32px;
  padding-right: 24px;
  font-size: .8rem;
}

.emanuel {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 470px) {

  .bottom-banner-left {
    display: none;
  }
}

/* BOTTOM BANNER RIGHT */

 .alt-bottom-banner {
   display: none;
 }

.bottom-banner-right {

  border-left: 1px solid gray;
  background-color: white;
  margin-left: 40px;
}

.orientation, .our-campus, .our-guest {
  display: inline-flex;
  height: 30%;
}

.our-guest {
  background-color: #d8d8d8;
}

.orientation img, .our-campus img, .our-guest img {
  width: 35%;
  height: 80%;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 40px;
}

.orientation {
  margin-bottom: 20px;
}

.orientation img {
  padding-top: 32px;
}

.orientation h3 {
  padding-top: 3rem;
}

.bottom-banner-right h3 {
  font-weight: bold;
  font-weight: .9rem;
}

.bottom-banner-right p {
  line-height: 1.4;
  font-size: .8rem;
  padding-top: .5rem;
  padding-bottom: 2rem;
}

.breed {
  text-decoration: none;
  color: #44cbec;
  font-size: .8rem;

}
  .orientation div, .our-campus div, .our-guest div {

    margin: auto;
    padding: .8rem;
}

@media only screen and (max-width: 470px) {

   .bottom-banner {
     display: none;
   }

   .alt-bottom-banner {
     display: flex;
     flex-direction: column;
   }

   .alt-bottom-banner img {
     width: 90%;
     margin: auto;
     margin-top: 16px;
   }

   .alt-bottom-banner h3 {
     padding: 24px 0 8px 40px;
     font-weight: bold;
   }

   .alt-bottom-banner p {
     padding-left: 40px;
     padding-bottom: 8px;
   }

   .alt-bottom-banner a {
     padding-left: 40px;
   }

   .last-breed {
     padding-bottom: 32px
   }

}

/* PICTURES SECTION */

.pictures-section {
  background-color: #d8d8d8;
}

.pictures-section h2 {
  text-align: center;
  padding-top: 32px;
  font-weight: bold;
  font-size: 1.8rem;
}

.main-pics-div {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pics-div {
  background-color: white;
  width: 25%;
  margin: 16px;
}

.pics-div img {
  width: 100%;

}

.pics-div h3 {
  font-size: .9rem;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px
}

.pics-div p {
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 8px;
  font-size: .8rem;
  line-height: 1.6
}

.pics-bottom {
  margin-bottom: 52px;
}

.alt-pictures-section {
  display: none;
}

@media only screen and (max-width: 470px) {
  .pictures-section {
    display: none;
  }
  .alt-pictures-section {
    display: block;
    margin-bottom: 24px;
  }

  .alt-pictures-section h2 {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    padding: 32px;
  }

  .alt-pictures-section h3 {
    background-color: #d8d8d8;
    padding: 16px;
    font-weight: bold;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
  }

}

/* VIDEO SECTION */

.main-vid-div {
  background-color: whitesmoke;
}

.main-bottom {
  display: inline-flex;
}

.main-vid-div h2 {
  text-align: center;
  padding-top: 32px;
  font-weight: bold;
  font-size: 1.8rem;
}

.vid-div {
  width: 60%;
  padding: 32px 16px 24px 24px;
}

.vid-div video {
  width: 100%;
  height: auto;
}

.main-vid-div h3 {
  font-size: .9rem;
  font-weight: bold;
  padding-bottom: 24px
}

.main-vid-div p {
  line-height: 1.4;
  font-size: .8rem;
}

.right-of-vid {
  display: inline-flex;
  flex-direction: column;
}

.fisma {
  background-color: #d8d8d8;
  margin-top: 32px;
}

.now-then, .fisma {
  display: inline-flex;
  width: 432px;
  height: 168px;
}

.right-of-vid img {
  width: 35%;
  height: 80%;
  padding: 16px;
}

.fisma-text, .now-then-text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.alt-main-bottom {
  display: none;
}

@media only screen and (max-width: 470px) {
  .main-bottom {
    display: none;
  }

  .alt-main-bottom {
    display: block;
  }

  .alt-main-bottom video {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .main-vid-div h2 {
    background-color: white;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
}

footer p {
  padding: 16px 0 48px 24px;
  line-height: 1.4;
}

footer a {
  text-decoration: none;
  color: #4a4a4a;
}

footer div {
  padding: 16px 24px 48px 0;
}

@media only screen and (max-width: 470px) {

  footer a {
    display: none;
  }

  footer p {
    padding: 16px;
  }
}
